.section {
  .section-header {
    padding: 35px 20px 20px;
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid rgba(216, 216, 216, 0.50);

    h2 {
      font-size: 18px;
      display: inline-block;
      margin: 0;
    }

    .btn-toolbar {
      margin-top: -5px;
    }
  }
}
